<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Directions Service (Complex)</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="accordion" id="postCon">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s11" aria-expanded="fase"
          aria-controls="s11">
          Collapsible Group Item #1
        </button>
      </div>
      <div id="s11" class="collapse">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s12" aria-controls="s12">
          Collapsible Group Item #1
        </button>
      </div>

      <div id="s12" class="collapse">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse" data-target=#body3NaNbody3>
          title: pants price: 5 condition: 90% new </button></div>
      <div id=body3 class="collapse">
        <div class="card-body">
          <ul>
            <li>pants</li>
            <li>5</li>
            <li>90% new</li>
            <li>for sale by owner</li>
            <li>clothes</li><img src=C:\fakepath\pants.jpg>
            <li>11100 ne 11st</li>
            <li>Bellevue</li>
            <li>WA</li>
            <li>98004</li>
            <li>jojo</li>
            <li>425-623-6632</li>
            <li>jojo@gmail.com</li>
            <li></li>
            <li>null</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><button class="btn btn-link" type="button" data-toggle="collapse" data-target=#body6NaNbody6>
          title: stroller price: 66 condition: 90% new </button></div>
      <div id=body6 class="collapse">
        <div class="card-body">
          <ul>
            <li>stroller</li>
            <li>66</li>
            <li>90% new</li>
            <li>for sale by owner</li>
            <li>clothes</li><img src=C:\fakepath\stroller.jpg>
            <li>11100 ne 11st</li>
            <li>Bellevue</li>
            <li>WA</li>
            <li>98004</li>
            <li>jojo</li>
            <li>425-623-6632</li>
            <li>jojo@gmail.com</li>
            <li></li>
            <li>null</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="col-6">
      <img>
    </div>
  </div>
</body>

</html>